extends layout.pug

block scripts
    script.
        function actualizarRango(val) { document.getElementById('valor-rango').textContent = val }

block content
    if configuration
        - var datoFocoEstado = configuration.foco_estado === 'on' ? true : false; 
        - var datoHInicio = configuration.foco_hinicio
        - var datoHfin = configuration.foco_hfin
        - var datoVentEstado = configuration.vent_estado === 'on' ? true : false; 
        - var datoVentRango = configuration.vent_rango
    else
        - var datoFocoEstado = false
        - var datoHInicio = ''
        - var datoHfin = ''
        - var datoVentEstado = false
        - var datoVentRango = '0'
    h1.mb-4 Configuracion
    .card.px-5
        .card-body
            form(action="/form" method='post')
                h4.mb-4 Foco
                .form-check.form-switch.mb-3
                    input.form-check-input(type="checkbox" role="switch" name="foco_estado" checked=datoFocoEstado)
                    span OFF / ON
                .input-group.mb-4
                    span.input-group-text De:
                    input.form-control(type="time" name="foco_hinicio" value=datoHInicio)
                    if errors && errors.hinicio
                        .text-danger= errors.hinicio
                    if errors && errors.hincorrecta
                        .text-danger= errors.hincorrecta
                .input-group.mb-4
                    span.input-group-text A:
                    input.form-control(type="time" name="foco_hfin" value=datoHfin)
                    if errors && errors.hfin
                        .text-danger= errors.hfin
                h4.mb-4 Ventilador
                .form-check.form-switch.mb-4
                    input.form-check-input(type="checkbox" role="switch" name="vent_estado" checked=datoVentEstado)
                    span OFF / ON
                .mb-4
                    p Rango de temperatura: 
                        span#valor-rango= datoVentRango
                    input.form-range(type="range" name="vent_rango" min='0' max='50' step='1' oninput='actualizarRango(this.value)' value=datoVentRango)
                .mb-4
                    button.btn.btn-success(type="submit") Guardar